---
layout: default
title:  Blog
---

<div class="container">
   <div class="row-fluid">
      <div class="span8">
         <ul class="post">
            {% for post in site.posts %}
            <li>
               {% if post.ext_url %}
                 <h1><a href="{{ post.ext_url }}">{{ post.title}}</a></h1>
               {% else %}
                 <h1><a href="{{ post.url }}/">{{ post.title }}</a></h1>
               {% endif %}
               <p>{{ post.summary }}
                 <span class="meta">{{ post.date | date_to_string }}</span>
               </p>
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>
