---
layout: default
title:  Blog
---

<div class="container">
   <div class="row-fluid">
      <div class="span8">
         <h2 class="header">Archivo</h2>
         <ul class="post">
            {% for post in site.posts %}
            <li>
            <span class="meta">{{ post.date | date_to_string }}</span>&nbsp;&raquo;&nbsp;
               {% if post.ext_url %}
                 <a href="{{ post.ext_url }}">{{ post.title}}</a>
               {% else %}
                 <a href="{{ post.url }}/">{{ post.title }}</a>
               {% endif %}
            </li>
            {% endfor %}
         </ul>
      </div>
   </div>
</div>
