.highlight .hll { background-color: #282828 }
pre { background-color: #282828 }

.c  { color: #ffaaa2} /* Comment */
.cm { color: #ffaaa2 } /* Comment.Multiline */
.cp { color: #ffaaa2 } /* Comment.Preproc */
.c1 { color: #ffaaa2 } /* Comment.Single */
.cs { color: #ffaaa2 } /* Comment.Special */

.k { color: #00ddbb;  } /* Keyword */

.kc { color:#96D9F1  } /* Keyword.Constant : null */


.kd { color: #00ddbb; } /* Keyword.Declaration */
.kn { color: #d1fa71} /* Keyword.Namespace : package*/
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color:#00ddbb ;  } /* Keyword.Reserved */
.kt { color: #00ddbb } /* Keyword.Type */

.n {color: #f7f7f7} /* Color normal */

.nv { color: #f7f7f7 } /* Name.Variable */
.vc { color: #f7f7f7 } /* Name.Variable.Class */
.vg { color: #f7f7f7 } /* Name.Variable.Global */
.vi { color: #f7f7f7 } /* Name.Variable.Instance */

.err { border: 1px solid #FF0000 } /* Error */

.o { color: #f7f7f7 } /* Operator */

.p {color: #f7f7f7 } /* Punctuation */


.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */

.go { color: #f7f7f7 } /* Generic.Output: console */
.console {color: #f7f7f7 }

.gp { color: #f7f7f7; font-weight: bold } /* Generic.Prompt */


.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */

.m { color: #f7f7f7 } /* Literal.Number */
.mf { color: #f7f7f7 } /* Literal.Number.Float */
.mh { color: #00ddbb } /* Literal.Number.Hex */
.mi { color: #f7f7f7 } /* Literal.Number.Integer */
.mo { color: #00ddbb } /* Literal.Number.Oct */

.nx {color: #f7f7f7} /* de javascript */


.s { color: #62ccff } /* Literal.String */
.sb { color: #62ccff } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #62ccff } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */

.na { color: #f7f7f7 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #f7f7f7 } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #f7f7f7 } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */

.nn { color: #f7f7f7} /* Name.Namespace */

.nt { color: #008000; font-weight: bold } /* Name.Tag */

.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */


.bp { color: #008000 } /* Name.Builtin.Pseudo */

.il { color: #666666 } /* Literal.Number.Integer.Long */


/* color normal: f7f7f7 */
/* color verde molon: #00ddbb */
