<footer>
  <ul>
    <li><a href="/">news</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="https://github.com/enrmarc/enrmarc.github.com/issues/new">ask</a></li>
    <li><a href="https://github.com/enrmarc">@enrmarc</a></li>
  </ul>

  <div class="ultra-footer">
    <div class="ultra-footer_col">
      <p>who am i</p>
      <p>{{ site.biography }}</p>
    </div>
    <div class="ultra-footer_col">
      <p>what is this</p>
      <p>This blog should work fine, except in terms of success.</p>
    </div>
  </div>
</footer>