<footer id="darkfooter" class="clearfix">
  <div class="content_wrap">
    <div class="clearfix about-col">
        <img src="/assets/img/160.jpg">
        <p>
          Trabajo como desarrollador y actualmente <strike>Ruby, Android</strike>
          JavaScript paga mis facturas. Puedes <em>contactar</em>
          conmigo mediante:
          <a href="https://github.com/enrmarc">GitHub</a>&nbsp;&mdash;&nbsp;<a href="mailto:enrmarc@gmail.com">Correo</a>
        </p>
    </div>
  </div>
</footer>