<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% if page.title %}
     <title>{{page.title}} | {{site.author}}</title>
  {% else %}
     <title>{{site.author}}</title>
  {% endif %}

  <meta name="description" content="TL;DR - Programador">
  <meta name="author" content="Enrique Marcos">
  <meta name="copyright" content="© Copyright 2012 to Present">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta http-equiv="cleartype" content="on">

  <link type="text/plain" rel="author" href="/humans.txt">
  <link rel="stylesheet" href="/assets/css/app.css" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <!--[if lt IE 9]>
  <script src="http://turbo.paulstamatiou.com/assets/html5shiv.js"></script>
  <![endif]-->
  <!--[if (lt IE 9) & (!IEMobile)]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="/assets/css/fonts.css">

  {% for style in page.styles %}
     <link rel="stylesheet" type="text/css" href="/assets/{{ style.src }}"/>
  {% endfor %}

  {% include google-analytics.html %}
  <script src="/assets/js/app.js"></script>
</head>