<div id="cover_wrap" class="fadeInDown animated clearfix">
  <header id="masthead" class="clearfix">
    <hgroup class="intro">
      <h1>
        <a href="/" class="home">Enrique Marcos</a>
        <span>
          <!--a href="http://twitter.com/?" rel="me" target="_blank">@?</a-->
        </span>
      </h1>
    </hgroup>

    <nav id="cover">
      <ul id="headernav" class="list-none">
        <li>
          <a href="/" title="Posts" class="posts selected"><span>Posts</span></a>
        </li>
        <li>
          <a href="/repos/" title="Repos" class="about"><span>Repos</span></a>
        </li>
        <li>
          <a href="/art/" title="Arte" class="photos "><span>Arte</span></a>
        </li>
        <li>
          <a href="/about/" title="Acerca de" class="about"><span>Acerca de</span></a>
        </li>
      </ul>
    </nav>
  </header>
</div>