<nav class="navi" _flex="align-center" _layout="p1 max960" _type="upcase small3 lh1.4">
   <h1 _flex-child="grow1" _type="semibold">
      <a href="/" _link="invisible" class="logo">Enrique Marcos</a>
   </h1>
   <ul _flex="align-center wrap justify-end">
      <li _layout="pl1"><a href="/" _link="subtle">Blog</a></li>
      <li _layout="pl1"><a href="/repos" _link="subtle">Repos</a></li>
      <li _layout="pl1"><a href="/art" _link="subtle">Arte</a></li>
      <li _layout="pl1"><a href="/about" _link="subtle">Acerca de</a></li>
   </ul>
</nav>