<div class="row-fluid">
   <div class="span8 pagination">
      <ul class="pages">
         <li class="page">
            <a href="/">&laquo;</a>
         </li>

         <li class="page">          
            {% if paginator.page == 1 %}
               <span class="current-page">1</span>
            {% else %}
                 <a href="/">1</a>
            {% endif %}
         </li>

         {% for count in (2..paginator.total_pages) %}
            <li class="page">
               {% if count == paginator.page %}
                  <span class="current-page">{{ count }}</span>
               {% else %}
                  <a href="/page{{ count }}">{{ count }}</a>
               {% endif %}
            </li>
         {% endfor %}

         <li class="page">
            <a href="/page{{ paginator.total_pages }}">&raquo;</a>
         </li>
      </ul>   
   </div>
</div>
