<li{% if post.lang %} lang={{ post.lang }}{% endif %}>
  <h2>
    <!-- Dynamic link color based on post color scheme -->
    {% capture link_color %}
      {% if post.scheme-link %}
          style="color: {{ post.scheme-link }} !important;"
      {% endif %}
    {% endcapture %}

    <!-- Item title -->
    {% if post.ext_url %}
      <a href="{{ post.ext_url }}" {{ link_color }}>{{ post.title}}</a>
    {% else %}
      <a href="{{ post.url }}/" {{ link_color }}>{{ post.title }}</a>
    {% endif %}
  </h2>
</li>