body {
font: normal 14px/24px Georgia, serif;
   color: #000;
}

P   { margin: 0px 0px 20px 0px; font-size: 18px;  line-height: 30px; }
h1, h2, h3 { color: #000; }
h1  { font-size: 19px; }
h2  { font-size: 17px; margin-bottom:0; }
h3  { font-size: 14px; }
pre { background-color: ghostWhite; padding: 2px; }
.archive  { list-style: none; padding: 0; margin-left: 0; }
::selection { background-color: rgba(0, 0, 0, 0.1); color: #000; }
a       { /*color: #00e;*/ color: #00e; color:#0635F0;}
a:hover { color: #00e; }

/* Container */
.container li:last-child { border-bottom:  none;}
.container .repo a:hover { text-decoration: none;}
.repo, .thumbnails { font-family: 'Lato', sans-serif; }

/* navbar */
.navbar               { color: #222; padding: 15px 0px 10px; border-bottom: 1px solid #EEE;
                        margin-bottom: 0; font-family: 'Lato', sans-serif; font-size: 14px;}
.navbar a:first-child { margin-left: 0; }
.navbar a             { margin: 0 5px; text-decoration: none; color: #444;
                        font-weight:normal; font-family: 'Lato', sans-serif;
                      }
.navbar a:hover       { text-decoration: none; color: #222; border-bottom: none;}

/* archive */
.archive               { padding-top: 32px;}
.archive  a            { /*color: #000;*/color: #00a; }
.archive li span.meta  { font-family: mono, monospace; display: inline; color: #444; font-size: 12px;}
/*.archive li a { font-family:Verdana,sans-serif; font-size: 13px;}*/

/* post */
.post-title      { /*font-size: 30px; margin-bottom: 0;*/ letter-spacing: normal; color:#222;
font: 800 28px/28px "open sans"; margin-bottom: 10px}
.post-content h2 { font-size: 17px; }
.post-date       { font-family: georgia, sans-serif; font-style: italic; /*color: gray;*/ font-size: 14px; display: inline-block;
                     margin: 0 0 25px 0; }
.next             { float: right; }
.previous         { float: left; }

/* footer */
#footer         { font-family: "Source Code Pro", mono; font-size: 12px; padding: 25px; margin-top: 50px;
                  border-top: 1px solid #eee; text-align: center; color: #222;}
#footer a       { color: #222; }
#footer a:hover { opacity: 0.6; text-decoration: none; }

/* social */
.social               { display: inline; padding: 10px 10px 10px 20px; }
.social.github        { background: url('../img/github2.png') scroll no-repeat left center; }
.social.stackoverflow { background: url('../img/so.png') scroll no-repeat left center; }
.social.coyotev       { background: url('../img/coyotev.png') scroll no-repeat left center; }

/* repos */
.very-small { font-size: 11px; font-weight: normal;}
.thumbnails h2 { color: #36c !important}

/* Container mas estrecho */
.container { margin-right: auto; margin-left: auto; max-width: 960px; }

/* about */
.about li      { border-bottom: 0; padding-top: 4px; }
.about a:hover { border-bottom: 0;}
.email         { font-size: 13px; font-family: monospace;}
.email a       { color: #444; }

/* tags-cloud */
.tags ul      { list-style: square; }
.tags li      { border-bottom: none; }
.tags a       { color: #000; }
.tags a:hover { text-decoration: none; color: gray;}

/* code highlight */
/*pre      { color: #444; font: normal 13px/16px Inconsolata, monospace !important;
           padding: 0 0 0 12px !important;
           border: 0px solid transparent !important;
           background-color: transparent !important;

           border-left: solid 4px #EEE !important; }
           */

pre {
  color: #444;
  font: normal 13px/16px "Source Code Pro", monospace;
  padding: 10px;
  background: #f8fbfc;
  border: solid 1px #f1f6f9;
  border-bottom: solid 1px #d9eaf2;
  border-radius: 3px;
  overflow: auto;
}
/*code { color: #4E443C; font: normal 13px/16px monospace; border: none;
         background-color: transparent;}*/
code {
  font: normal 13px/16px "Source Code Pro", monospace;
  border: none;
  background-color: transparent;
  color: #4E443C;
}
/*pre code { font: normal 15px/16px "Inconsolata", monospace !important;
           background-color: transparent !important;
           border: 0px solid !important;
           color: #444 !important; }*/
.tag         { color: #444; }
.class.title { color: #09A; }
.class,
.value       { color: #09A !important; }
.keyword,
.attribute,
.kn         { /*color: #36c*/ color: #1481b8 !important; }
.comment    { color: #999; }
.string     { color: #c70; }
.bash .string { color: #36c;}


.header { padding: 10px 0 0 0; color: #a00 !important; }
.github-link { font-family: 'Lato', sans-serif; }

#view_banner:hover { text-decoration: underline; }
#view_banner {
    display: block;
    top: 0;
    width: 115px;
    right: 10px;
    z-index: 10;
    /*padding: 10px 50px 10px 10px;*/
    height: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    background: url('../img/blacktocat.png') #36c no-repeat 95% 50%;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
#view_banner a:hover {color:white !important;}

.red {color: red; font-weight: bold}