---
---
@charset "utf-8";

// @font-face { font-family: "et-book";
//              src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
//              src: url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
//              font-weight: normal;
//              font-style: normal; }

// @font-face { font-family: "et-book";
//              src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
//              src: url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
//              font-weight: normal;
//              font-style: italic; }

// @font-face { font-family: "et-book";
//              src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
//              src: url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
//              font-weight: bold;
//              font-style: normal; }

// @font-face { font-family: "et-book-roman-old-style";
//              src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
//              src: url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("../fonts/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
//              font-weight: normal;
//              font-style: normal; }

$base-font-family: 'Times New Roman', Georgia, Times, serif;
$base-font-size: 1.2rem;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.25rem;

$mono-font-family: "Menlo", monospace;

$text-color:       black; //hsl(0, 0%, 25%);
$inline-code-color:black; //darkblue;

$alt-color:        black;//hsl(0, 70%, 46%);
$alt-color-darker: black;//darken($alt-color, 6%);

$article-bg-color: white; //hsl(35, 36%, 95%);
$background-color: white; //darken($article-bg-color, 6%);
$bg-color-darker:  darken($article-bg-color, 15%);
$alt-text-color:   darken($article-bg-color, 60%);

$subdued-border:   rgba($bg-color-darker, 0.5);

// Import partials from `sass_dir` (_config.yml)
@import
  "base",
  "syntax-highlighting"
;

.navigation-content {
  a {
    margin-right: 0.25rem;
  }
}

@media (min-width: 1281px) {
  .fig-float {
    float:right; 
    margin-right: -40% 
  }
}

// @media (max-width: 1281px) {
//   figure:not(.stay) {
//    .myfig {
//      width: 50%;
//     }
//   }
// }

body {
   width: 1045px;
}
}
