@media all and (max-width:520px) {
  html {
    font-size: 18px;
  }

  body {
    position:inherit !important;
  }

  .author-note {
    padding: 1.5rem 0.5rem !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

body, li  p {
  font-family: "equity-text";
}

html {
  height: 100%;
}

body {
  font-size: 22px;
  margin: 0 auto;
  width:100%;
  max-width:1000px;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
  position: relative;
  z-index: -10000;
}

body > * {
  font-size: 100%;
  /*margin-left: 11.5rem;
  margin-right: 2.5rem;*/
  margin: 0 9rem;
}

@media all and (max-width:520px) {
  body > * {
  /*margin: 2rem;*/
    margin: 1.5rem;
    margin-top:0;
  }

  .navigation {
    position:absolute;
  }
}

div.content {
  display: block; padding: 3rem 0 5rem 0;
  padding-bottom: 3rem;
}

/* tablets */
@media all and (max-width:1024px) {
  div.content { padding: 0; padding-top:1.5rem;}
  body > * {
    margin: 2.5rem;
    margin-top:0
  }
}

/* phones */
@media all and (max-width:640px) {
  div.content { padding: 0; padding-top:1rem;}
  body > * {
    margin: 1.5rem;
    margin-top:0
  }

  .highlight pre {
    font-size: 16px;
  }
}

topic {
  display: block;
  font-family: "advocate-c53";
  text-transform: uppercase;
  font-size: 190%;
  line-height: 1.1;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-top: 0.10em solid black;
  padding-top: 0.02em;
}

topic.small {
  font-family: "advocate-c63";
  text-transform: uppercase;
  border-top: 1px solid #666;
  padding-top: 0em;
  font-size: 170%;
}

aside {
  font-family: "concourse-t3";
  font-size: 0.85rem;
  line-height: 1.40;
  color: #667;
}

@media all and (max-width:520px) {
  title-block, aside {
    float: inherit;
    position: inherit;
    width: 100%;
    text-align: left;
  }

  aside {
    background: #fefefe;
    padding: 0.5rem;
    width: 90%;
    border: 1px solid #ccc;
    border-left: 3px solid #ccc;
  }
}

p /*,li*/ {
  margin-bottom: 1em;
  line-height: 1.35;
}


ul.children {
   font-size: 90%;
  list-style-type: none;
}

ul.children li {
  margin-bottom: 0;
  padding-bottom: 1em;
}

aside phrase {
  font-weight: bolder;
  font-style: normal;
}

aside p+p {
  margin-top: 1em;
}

aside em {
  font-weight: bolder;
  font-style: normal;
  letter-spacing: 0px;
}

aside img {
  margin-bottom: 0.25em;
}

img {
  width: 100%;
}

image-caption {
  display: block;
  font-family: "concourse-c4";
  text-transform: lowercase;
  }

@media all and (max-width:520px) {
  .howto > p {
    margin-left: 0;
  }
}

.subhead, .howto-name {
  font-family: "equity-caps";
  text-transform: lowercase;
  display: block;
  font-weight: bolder;
  margin-bottom: 0.8rem;
}

.subhead {
  margin-bottom: 0.4rem;
  margin-top: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active { color: #777; }

a[name]:after{
  content: none;
}

a.xref {
  text-transform: lowercase;
  font-family: "equity-caps";
  font-style: normal;
}

a:hover {
  background: #fbf3f3;
}

.toc a, .toc a:hover {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
}

a img {
  border: 1px solid gray;
}

a:hover img {
  background: none;
  outline: 1px solid gray;
}

monospaced, monospaced-full-size, code {
  /*font-family:Courier, monospace;*/
  font-style: normal;
  font-weight: normal;
  /*font-size: 90%;*/
}


.highlight pre {
  /*font-family: "Inconsolata", monospace;
  font-size: 0.80rem;*/
  /*line-height: 1.35;*/
  /*margin-right: -2rem;*/
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 18px;
}

h1+div.highlight pre {
  /*font-size: 67%;*/
}

code {
  font-family: Inconsolata, monospace;
  white-space: pre-wrap;
  /*font-size: 0.90rem;*/
}

monospaced-full-size {
  font-size: 100%;
}

.arrow {
  font-family: "concourse-t3";
}

toc-topic {
  display: block;
  font-family: "advocate-c53";
  text-transform: lowercase;
  font-size: 150%;
  line-height: 1.20;
  margin-top: 1.5rem;
  margin-bottom: 0.0rem;
  border-top: 0px solid #ccc;
}

ul.toc {
  font-size: 105%;
  margin: 0.7rem 0 1rem 1.5rem;
}

@media all and (max-width:520px) {
  ul.toc {
    font-size: 120%;
  }
}

ul.toc li {
  font-family: "equity-text";
  margin: 0;
  padding: 0;
  padding-bottom: 0.6em;
  line-height: 1.2;
  list-style-type: none;
}

.toc li a{
  display: block;
}

.toc:after {
  content: none;
}

/* own style */
.highlight {
    /*background: #fcfcfc;*/
    /*padding: 0.5rem;*/
    /*border-top: 1px solid #ebebeb;*/
    /*border-bottom: 1px solid #ebebeb;*/
    margin-bottom: 1.2rem;
}

.highlight .linenos {
  display: none;
}

.hll { background-color: #ffffcc }
.c { font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { font-weight: bold; color: #673AB7;} /* Keyword */
.cm { font-style: italic } /* Comment.Multiline */
.c1 { font-style: italic } /* Comment.Single */
.cs { font-style: italic } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gh { font-weight: bold } /* Generic.Heading */
.gp { font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { font-weight: bold } /* Generic.Subheading */
.kc { font-weight: bold } /* Keyword.Constant */
.kd { font-weight: bold; color: #673AB7; } /* Keyword.Declaration */
.kn { font-weight: bold; color: #673AB7; } /* Keyword.Namespace */
.kr { font-weight: bold; color: #673AB7; } /* Keyword.Reserved */
.s { font-style: italic; color: #963677; } /* Literal.String */
.nc { font-weight: bold } /* Name.Class */
.ni { font-weight: bold } /* Name.Entity */
.ne { font-weight: bold } /* Name.Exception */
.nn { font-weight: bold } /* Name.Namespace */
.nt { font-weight: bold } /* Name.Tag */
.ow { font-weight: bold } /* Operator.Word */
.sb { font-style: italic } /* Literal.String.Backtick */
.sc { font-style: italic } /* Literal.String.Char */
.sd { font-style: italic } /* Literal.String.Doc */
.s2 { font-style: italic } /* Literal.String.Double */
.se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.sh { font-style: italic } /* Literal.String.Heredoc */
.si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.sx { font-style: italic } /* Literal.String.Other */
.sr { font-style: italic } /* Literal.String.Regex */
.s1 { font-style: italic } /* Literal.String.Single */
.ss { font-style: italic } /* Literal.String.Symbol */

/* navigation */
.navigation {
  float: right;
  padding-top: 25px;
  font-family: "advocate-c53";
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 16px;
  /*position: absolute;*/
  top: 0;
}

.paramedics {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 1rem;
}

.author-note{
  padding: 1.5rem;
  background: #fcfcfc;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.extra-topic {
  font-size: 14px;
}

toc-topic {
  display: block;
  font-family: "advocate-c53";
  text-transform: lowercase;
  font-size: 100%;
  line-height: 1.20;
  /*margin-top: 1.5rem;*/
  margin-bottom: 1rem;
  border-top: 0px solid #ccc;
}

.ddate {
  font-size: 13px;
  font-family: monospace;
}

html {
  overflow-y: scroll;
}

.bottom-p {
  font-size: 80%;
  font-weight: normal;
}

.bottom-l {
  font-size: 70%;
  font-weight: normal;
}

a {
  /*color: #2455c3;*/
  color: #2426C3;
  text-decoration: none;
  /*color: #303030;*/
  color: #444444;
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: #C0C0C0;
}

.index a, .navigation a, toc-topic a {
  color: black;
  border: none;
}

.equity-caps {
  font-family: "equity-caps";
}

.small-pic {
  width:50%;
  margin: 0 auto;
  display:block;
}

figcaption {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

button {
  padding: 5px;
}