<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>{{ page.title }} | {{ site.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link type="image/x-icon" rel="icon" href="http://enrmarc.github.com/img/favicon.ico"/>
      <link rel="stylesheet" href="/assets/css/custom.css" type="text/css"/>
      <link type="text/css"  href="/assets/css/cv.css" rel="stylesheet" media="all">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
      {% include google-analytics.html %}
   </head>
   <body>
      {{ content }}
   </body>
</html>
