---
layout: default
scripts  :
  - src  : js/notes.js
---

<header _layout="max960 pt4" style="padding-left: 60px">
   <h2 _type="h3 semibold" id="maintitle">Notas</h2>
   <h6 id="notas" _after="" _type="h6 italic" _layout="pt1">{{page.summary}}</h6>
</header>

<main _layout="max960 p1" _type="center">
   <!--header _layout="p3-0" _type="lh1.2">
      <h1 class="article-title" _type="h3 small:h4 black center">{{page.title}}</h1>
      <h6 id="notas" _type="h6 italic center" _layout="pt1">{{page.summary}}</h6>
   </header-->
   <section _layout="p1-2">
      {{ content }}
   </section>
</main>