---
layout: project
---

<div class="container">
   <div class="row-fluid">
      <div class="span9">
         <h1 class="post-title">{{ page.title }}</h1>
         <p class="date"> {{ page.date | date: "%B %d, %Y" }}</p>
         <div class="post-content">
            {{ content }}
            {% if page.src %} 
              <br><a id="view_banner" href="{{ page.src }}">Código fuente</a> 
            {% endif %}         
         </div>
      </div>
   </div>
   
   {% include pager.html %}
   {% include disqus.html  %}
</div>
