<!DOCTYPE html>
<html>
   {% include head.html %}
   <body>
      <main class="content" role="main">
         <article class="post">
            {% if page.image %}
               {% include article-with-image.html %}
            {% else %}
               {% include article-without-image.html %}
            {% endif %}
            <section class="post-content">
               {{content}}
            </section>
           {% include extra-content.html %}
           {% include prefooter.html %}
         </article>
       </main>
       {% include footer.html %}
   </body>
</html>
<!-- , tagged on {{#foreach tags}}<span class="post-tag-{{slug}}">{{#if @first}}{{else}}, {{/if}}<a href="/tag/{{slug}}">{{name}}</a></span>{{/foreach}} -->