---
layout: project
---

<div class="container">
   <div class="row-fluid">
      <div class="span8">
         <h1  class="post-title">{{ page.title }}</h1>
         <p   class="post-date"> {{ page.date | date: "%B %d, %Y" }}</p>
         <div class="post-content">
            {{ content }}
            {% if page.src %} 
            <br><a class="github-link" href="{{ page.src }}">Código fuente</a>
            {% endif %}         
         </div>
      </div>
   </div>
   
   {% include pager.html %}
   {% include disqus.html  %}
</div>
