---
layout: default
---

<div class="container">
   <div class="row-fluid">
      <div class="span12">
         <h2 class="post-title">{{ page.title }}</h2>
         <p class="date"> {{ page.date | date: "%B %d, %Y" }}</p>
         {{ content }}
      </div>
   </div>

   <br>
   <div class="row-fluid">
      <!-- Next / Previus -->
      <div class="previous">
         {% if page.previous.url %}
            <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
         {% endif %}         
      </div>

      <div class="next">
         {% if page.next.url %}
            <a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
         {% endif %}
      </div>
   </div>
   
   <br>
   <div class="row-fluid">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="enrmarc">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
   </div>

   <hr>
   <div class="row-fluid">
      <div class="comments">
         {% include disqus.html %}
      </div>
   </div>
</div>
