---
layout: default
---

<div class="container">
   <div class="row-fluid">
      <div class="span12">
         <h2>{{ page.title }}</h2>
         {{ content }}
      </div>
   </div>

   <div class="row-fluid">
      <!-- Next / Previus -->
      <div class="previous">
         {% if page.previous.url %}
            <a href="{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
         {% endif %}         
      </div>

      <div class="next">
         {% if page.next.url %}
            <a href="{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
         {% endif %}
      </div>
   </div>

   <div class="row-fluid">
      <div class="comments">
         {% include disqus.html %}
      </div>
   </div>
</div>


<!-- View on GitHub -->
<!--p><a id="view_banner" href="{{ page.link }}">View on GitHub</a></p><br/-->


